@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  .welcome
    .h1
      font-size: 64px
  .header-contacts
    font-size: 14px
  .carousel-services-item
    flex-direction: column
  .s
   &-king, &-review, &-partners
     padding: 8% 0

// ≥992px
+media-breakpoint-down(md)
  .welcome
    .h1
      font-size: 46px


// ≥768px
+media-breakpoint-down(sm)
.header-contacts
  .phone-h
    text-align: left


// ≥576px
+media-breakpoint-down(xs)
 .welcome
   .h1
     font-size: 34px
   p
     span
       font-size: 10px
   strong
     margin-top: 14px
     font-size: 14px
   p
     font-size: 14px



/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
