@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: $text
	&.ishome
		.site-header
			min-height: 700px
			height: 100vh
			background-color: $dark
			color: #fff
			.top-line
				padding-top: 40px
				position: absolute
				width: 100%
				z-index: 1
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.h1, .h2, .h3, .h4, .h5, .h6
	line-height: 1.4
	text-transform: uppercase

.logo
	img
		width: 125px
		height: auto
		margin-left: 15px

.phone
	position: absolute
	right: 85px
	top: 44px
	font-family: firasans, sans-serif
	font-size: 22px
	white-space: nowrap
	.fa-mobile
		color: #555
		font-size: 22px
		margin-right: 3px

.button
    display: inline-block
    border: none
    color: #fff
    text-decoration: none
    background-color: $accent
    padding: 16px 45px
    font-size: 13px
    text-transform: uppercase
    font-weight: 600
    letter-spacing: 3px
    border-radius: 2px
    text-align: center
    position: relative
    outline: none
    transition: background-color .1s ease
    &::after
        transition: background-color .2s ease
        position: absolute
        content: ''
        height: 4px
        bottom: 0
        width: 100%
        background-color: darken($accent, 50%)
        opacity: .18
        border-bottom-left-radius: 2px
        border-bottom-right-radius: 2px
        left: 0
    &:focus, &:hover
        text-decoration: none
        color: #fff
    &:hover
        background-color: lighten($accent, 5%)
        &::after
            opacity: .22
    &:active
        background-color: darken($accent, 5%)
        &::after
            opacity: .32
.button-white
	background-color: #ffffff
	color: #444
	&:after
		background-color: rgba(#000, .6)
	&:hover
		&:after
			background-color: rgba(#000, .6)
	&:active
		&:after
			background-color: rgba(#000, .4)


.hamburger
	right: 0
	position: absolute
	top: 34px
	.hamburger-box
		width: 34px
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
	border-radius: 0
	width: 34px
	height: 2px
	background-color: #fff

.mm-navbar
	height: auto
	border: none
	.mm-title
		padding: 0
		img
			position: relative
			width: 128px
			height: auto
			margin: 10px 0 35px

html
	.mm-opened
		overflow-y: scroll
.mm-panels>.mm-panel.mm-hasnavbar
	right: -18px

.mm-panels>.mm-panel:after, .mm-panels>.mm-panel:before
	height: 0
.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview
	margin-top: 0
.mm-listview>li:not(.mm-divider):after
	border: none
.mm-menu.mm-theme-black .mm-listview>li.mm-selected>a:not(.mm-next), .mm-menu.mm-theme-black .mm-listview>li.mm-selected>span
	background-color: transparent
	color: $accent

.mm-listview
	> li
		> a
			transition: color .25s ease
			padding:
				left: 14%
				right: 14%
				top: 8px
			&:hover
				color: $accent
			&::before
				 font-family: "fa-regular"
				 font-weight: 400
				 content: "\f3a5"
				 margin-right: 8px
				 text-decoration: none
				 color: #fff
		&.active
			& > a
				color: $accent


section, header
	position: relative
	background-size: cover
	background-position: center

section
	background-color: #fff
	&.inverse
		color: #ffffff
		background-color: $dark
	.h2
		font-size: 30px
		font-weight: 800
		color: $accent
		span
			color: #ffffff




.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.header-flex
	display: flex
	height: 100%
	position: relative
	top: 0

.flex-center
	margin: auto

.header-composition
	text-align: center
	position: relative
	p
		margin-top: 40px
	.button
		margin-top: 25px

.welcome
	p
		font-size: 14px
		text-transform: uppercase
		display: flex
		align-items: center
		white-space: nowrap
		margin: 0
		// margin-bottom: -10px
		span
			margin: 0 10px
		&::before, &::after
			content: ''
			display: inline-block
			vertical-align: middle
			box-sizing: border-box
			width: 100%
			height: 1px
			background: #fff
			border: solid #fff
			border-width: 0 10px
	.h1
		white-space: nowrap
		font-weight: 100
		font-size: 70px
		margin: 0
		line-height: 1.6
		border-bottom: 1px solid #fff
	strong
		display: block
		text-transform: uppercase
		font-size: 17px
		margin-top: 25px
		.fa-star
			width: 12px
			color: #555
			margin-right: 10px
			&:last-child
				margin-left: 10px
				margin-right: inherit





.flex-center
	margin: auto


.header-social
	position: absolute
	display: flex
	right: 0
	height: 100%
	border-left: rgba(#fff, .1) 1px solid
	top: 0
	padding: 0 12.5px

.soc
	margin: auto
	ul, li
		margin: 0
		padding: 0
		list-style-type: none
	a
		color: #2C2C2C
		font-size: 17px
		display: block
		background-color: rgba(#fff, .2)
		height: 38px
		width: 38px
		text-align: center
		margin: 18px 0
		line-height: 38px
		border-radius: 10em
		transition: background-color .25s ease
		&:hover
			background-color: rgba(#fff, .4)

.header-contacts
	position: absolute
	bottom: 0
	left: 0
	border-top: rgba(#fff, .15) 1px solid
	padding: 12.5px 0
	width: 100%
	background-color: rgba(#151515, .15)
	svg
		width: 16px
		margin-right: 5px
		color: #555555
	.phone-h
		font-family: firasans, sans-serif
		text-align: center

$colors: $blue, $red, $accent
@for $i from 1 through length($colors)
	.carousel-services .owl-item:nth-child(#{length($colors)}n+#{$i})
		background-color: nth($colors, $i)

.carousel-services
	background-color: $dark
	&-item
		color: #ffffff
		font-size: 18px
		font-weight: 300
		position: relative
		display: flex
		flex-direction: column-reverse
		&:hover
			.carousel-services-img
				opacity: 1
		.carousel-logo
			text-align: center
			img
				width: 100px
				height: auto
				display: inline-block
	.owl-nav
		position: absolute
		top: 0
		width: 100%
		> div
			width: 64px
			height: 64px
			background-color: #ffffff
			color: $dark
			position: absolute
			text-align: center
			line-height: 64px
			font-size: 26px
			&.owl-prev
				left: 0
			&.owl-next
				right: 0



	.owl-item
		&:nth-child(2n+2)
			.carousel-services-item
				flex-direction: column

	&-img
		background-size: cover
		background-position: center
		opacity: .7
		transition:  opacity .5s ease
	&-content
		position: relative
		padding: 50px 10% 60px
	&-composition
		margin: auto
		text-align: center
		width: 100%
		.h3
			font-weight: 800
			font-size: 28px
			margin-top: 5px
			margin-bottom: 20px
			span
				font-size: 18px
				font-weight: 300
				display: block
	&-list
		margin: 0
		padding: 0
		list-style-type: none
		margin-bottom: 25px
		li
			padding: 9px

			border-bottom: 1px solid rgba(#000, .12)
			&:last-child
				border-bottom: none
			strong
				font-family: firasans, sans-serif
				color: #4a4a4a
			.svg-inline--fa
				width: 0.6em



.owl-carousel
	.owl-item
		backface-visibility: inherit

.s
	&-king, &-review, &-partners
		padding: 5% 0
	&-king
		p
			margin: 30px 0
			font-size: 18px

.section-overley
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: $over
		opacity: .92

.fotorama
	background-color: rgba($dark, .4)
	&__nav
		&-wrap
			position: absolute
			bottom: 15px
			padding:  0 30px
			width: 100%
	&__thumb
		height: 54px
		width: 100px
		border: 5px #ffffff solid
		transition: border-color .5s ease
		&-border
			border-color: #3d3c3c
			width: 99px
			height: 57px
	&__nav:after, &_stage:after,
	&__nav:before, &__stage:before
		display: none
	&__arr-
		&-next, &-prev
			&::before
				font-family: fa-regular
				font-size: 32px
		&-next
			&::before
				content: '\f105'
		&-prev
			margin-left: 20px
			&::before
				content: '\f104'
	&__active
		.fotorama__thumb
		 border-color: #3d3c3c




@import "media" // Always at the end
